@import "@/assets/core/_variables.scss";

.radiosListItem {
  display: flex;
}

.radio,
.radio::before,
.radio::after {
  box-sizing: border-box;
}

.radio *,
.radio *::before,
.radio *::after {
  box-sizing: border-box;
}

.radio {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.radio.disabled {
  cursor: not-allowed;
}

.radio input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio input:checked ~ .radio__checkmark:after {
  opacity: 1;
}

.radio:hover input ~ .radio__checkmark::after {
  opacity: 1;
}

.radio:hover input ~ .radio__checkmark.disabled::after {
  opacity: 0;
}

.radio .radio__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid $stroke-card;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}

.radio .radio__checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: 1.4px solid $main-primary;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.radio input:checked ~ .radio__checkmark.disabled:after {
  border: 1.4px solid $stroke-card;
  border-width: 0 1px 1px 0;
  opacity: 1;
  cursor: not-allowed;
}

.radio__body {
  color: $text-secondary;
}
