@import "@/assets/core/_variables.scss";

.input {
  height: 36px;
  padding: 8px 12px;
  color: $text-primary;
  border: 1px solid $stroke-card;
  outline-color: $main-primary;
  background: $white;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}

.input::placeholder {
  color: $text-secondary;
}

.error {
  border: 1px solid $main-error;
}

.error:focus-visible {
  outline: 1px solid $main-error;
}

.inputWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: $main-error;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.icon {
  position: absolute;
  box-sizing: border-box;
  top: 52%;
  left: 12px;
  transform: translateY(-50%);
}

.isIcon {
  padding: 8px 35px;
}
