@mixin adaptive-font($pcSize, $mobSize, $maxWidth) {
  $addSize: calc($pcSize - $mobSize);
  $addMobSize: calc($addSize + $addSize * 0.7);

  font-size: calc($mobSize + $addSize * (100vw / $maxWidth));

  @media (max-width: 767px) {
    font-size: calc($mobSize + $addMobSize * ((100vw - 320px) / $maxWidth));
  }
}

//colors

$text-primary: #1B1E27;
$text-secondary: #8C8C8C;
$main-primary: #5B8CF3;
$bg-card: #FAFAFA;
$stroke-card: #E6E6E6;
$white: #ffffff;
$main-error: #D56F75;
$text-tertiary: #888888;
$main-secondary: #EAF0FD;
$bg-footer: white;
$text-logo: rgba(26, 29, 38, 1);
$text-link-hover: rgb(136, 136, 136);
$line-footer: rgb(242, 242, 242);
$text-footer-bottom: rgb(136, 136, 136);


