@import "@/assets/core/_variables.scss";

.section {
  max-width: 384px;
  width: 100%;
  background-color: $bg-card;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  height: 100vh;
}
