@import "@/assets/core/_variables.scss";

.main {
  width: 100%;
  margin-top: 80px;
  background-color: $bg-main;
  padding: 0 10px;
}

@media (max-width: 1024px) and (min-width: 500px) {
  .main {
    padding: 0 20px;
  }
}

.mainWrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1216px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 127px;
  gap: 0 32px;
}

.mainTitle {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 45.5px;
}

.mainSection {
  width: 100%;
}

.blockTotalSort {
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.blockTotal {
  color: $text-tertiary;
}

.blockSort {
  color: $text-tertiary;
  display: flex;
  gap: 0 10px;
  align-items: flex-start;
}

.blockSortVector {
  border: none;
  background: none;
}

.blockCards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

@media (max-width: 768px) {
  .blockCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
