@import "@/assets/core/_variables.scss";

.sectionFilters {
  max-width: 384px;
  width: 100%;
  background-color: $bg-card;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  height: 100%;
}

@media (max-width: 1200px) {
  .sectionFilters {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .sectionFilters {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 25px;
  }
}

@media (max-width: 430px) {
  .sectionFilters {
    flex-direction: column;
  }
}

.filtersTitle {
  color: $text-primary;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

@media (max-width: 1024px) {
  .filtersTitle {
    margin-top: -5px;
  }
}

.block {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .block {
    max-width: 300px;
  }
}

.blockTitle {
  margin-bottom: 20px;
  color: $text-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

.blockList {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  color: $text-secondary;
}

.listCheckboxesTag {
  display: flex;
  flex-direction: column;
}

.blockListItem {
  display: flex;
}

.blockListItem.disabled {
  display: flex;
  cursor: not-allowed;
}

.blockInputTitle {
  margin-bottom: 20px;
  color: $text-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

.blockInputWrapper {
  height: 48px;
}

.blockInput {
  input {
    height: 48px;
    padding: 12px 16px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 627px) {
  .blockInput {
    flex-grow: 1;
  }
}

.buttonStyle {
  height: 48px;
}

.checkbox__body {
  color: $text-secondary;
}