.headerDemoMain {
    border-bottom: 1px solid #F8F8F8;
    width: 100%;
}

.headerDemo {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    
}

.headerDemoLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerDemoLogoContainer svg {
    margin-right: 12px;
}

.logoText {
    color: rgba(26, 29, 38, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    white-space: nowrap;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerButtonConnectWallet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 120px;
    background-color: #EFF4FE;
    color: #5B8CF3;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    outline: none;
}

.headerDemoBurger {
    display: none;
    text-align: end;
}

@media (max-width:1024px){
    .headerDemo {
        background-color: #fafafa;
        left: -360px;
        z-index: 1;
        position: fixed;
        width: 330px;
        gap: 30px 0;
        flex-direction: column;
        padding: 48px;
        border: 1px solid rgb(187, 187, 187);
        border-radius: 0 0 20px 0;
        transition: transform 0.3s linear;
    }
    .headerDemo.active {
        transform: translateX(100%);
    }
    .headerLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px 0;
    }
    .headerLink {
        margin: 0;
    }
    .headerDemoBurger {
        display: block;
        padding: 10px;
    }
}

