@import "@/assets/core/_variables.scss";

.formData {
  max-width: 800px;
}

.baseInfo {
  padding: 32px;
  background-color: $white;
  border-radius: 16px;
}

.title {
  font-size: $text-24;
  line-height: 28.8px;
  font-weight: $font-semiBold;
  padding-bottom: 32px;
}

.label {
  font-size: $text-14;
  line-height: 19.6px;
  font-weight: $font-medium;
  padding-bottom: 8px;
}

.labeledField {
  padding-bottom: 24px;
}

.labeledFieldOther {
  padding-bottom: 16px;
}

.field {
  height: 56px;
}

.fieldWrapper {
  height: 58px;
}

.checkboxWrapper {
  margin-top: 16px;
}

.checkbox {
  cursor: pointer;
}

.filedTags {
  margin-bottom: 24px;
}

.posInfo {
  margin-top: 25px;
  padding: 40px;
  background-color: $white;
  border-radius: 16px;
}

.posInfo .textarea:not(:first-of-type) {
  margin-top: 24px;
}

.posInfoTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: $text-primary;
  padding-bottom: 32px;
}

.textAreaTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.selected {
  border-color: #0070f3;
  box-shadow: 0 0 10px rgba(0, 112, 243, 0.5);
}

.hidden {
  display: none;
}

.info {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.price {
  font-size: 24px;
  color: #0070f3;
  font-weight: bold;
  text-align: center;
}

.sale {
  background-color: #0070f3;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
  width: 100px;
  margin: 10px auto 0;
}
