@import "@/assets/core/_variables.scss";

.blockCheckboxes {
  display: flex;
  flex-direction: column;
}

.blockCheckboxesTitle {
  margin-bottom: 20px;
  color: $text-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}

.blockCheckboxesList {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.checkbox,
.checkbox::before,
.checkbox::after {
  box-sizing: border-box;
}
.checkbox *,
.checkbox *::before,
.checkbox *::after {
  box-sizing: border-box;
}

.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}

.checkbox input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.checkbox:hover input ~ .checkbox__checkmark {
  background-color: $white;
}

.checkbox:hover input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}

.checkbox .checkbox__checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid $stroke-card;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}

.checkbox .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.checkbox .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
}
